.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
manifest.mf
build.xml
nbproject/
build/
dist/
target/
logs/
log
bin/
!bin/native/*
temp/
.sonar/
.gradle/
.nb-gradle/
private/
private/*
*/private/
private.properties
**/private.properties
**/.nb-gradle-properties
.svn
rebel.xml
SetRetail10_SCO/crystal-conf/
*.iml
*.ipr
*.iws
*.ids
out
**/.settings/
**/.settings
.settings/
**/gradlew*
.idea/
derby.log
classes
atlassian-ide-plugin.xml
**/transaction.log
*-junit_resources.jar
